* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --poppins: 'Poppins', sans-serif;
  --merienda: 'Merienda One', sans-serif;

  /* colors */
  --main: #0d0d0d;
  --main-light: #f2ede4;
  --alt-dark: #403e4b;
  --alt-light: #d9d4cc;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: var(--poppins);
  background: var(--main-light);
  color: var(--main);
}

/* RESET */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* MAIN */

main {
  margin-top: 5rem;
  height: 48.4rem;
  overflow: hidden;
  padding-block: 1rem;
}

.m-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 130rem;
  margin: auto;
}

/* NAVIGATION */

nav {
  flex-shrink: 0;
}

/* GALLERY */

/* modal */
.modal {
  position: relative;
  z-index: 10;
}

.modal::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--main);
  opacity: 1;
}

.modal img {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto !important;
  max-width: 50rem !important;
  height: auto !important;
  max-height: 90vh !important;
  object-fit: contain !important;
  cursor: auto !important;
}

.close {
  position: fixed;
  z-index: 11;
  top: 6rem;
  left: 6rem;
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
}

.m-close {
  visibility: hidden;
  opacity: 0;
}

/* ... */

#gallery {
  height: 46rem;
  overflow: hidden;
}

.days {
  position: absolute;
  top: 0;
  left: 0;
}

#gallery .wrapper {
  display: flex;
  flex-direction: column;
}

#gallery .img {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  max-height: 46rem;
  overflow-y: scroll;
  padding-block: 1rem;
  margin-bottom: 50rem;

  scroll-behavior: smooth;
}

#gallery .img::-webkit-scrollbar {
  width: 1rem;
}

#gallery .img::-webkit-scrollbar-track {
  background: var(--alt-dark);
  border-radius: 0.3rem;
}

#gallery .img::-webkit-scrollbar-thumb {
  background: var(--alt-light);
  border-radius: 0.3rem;
}

#gallery img {
  display: block;
  width: 33rem;
  height: 23rem;
  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* #gallery .img:nth-child(1) {
  background: tomato;
}
#gallery .img:nth-child(2) {
  background: royalblue;
}
#gallery .img:nth-child(3) {
  background: lightseagreen;
} */

@media (max-width: 376px) {
  .modal img {
    max-width: 40rem !important;
    max-height: 60vh !important;
  }
}

.up {
  position: fixed;
  bottom: 2rem;
  right: 4rem;
}
