* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

:root {
  font-size: 62.5%;
}

body {
  color: #3b3b3b;
  font-size: 1.6rem;
  text-align: center;
  padding-block: 5rem;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 30rem;
  margin: auto;
}

img {
  max-width: 100%;
}

/* header */

header {
  margin-bottom: 3rem;
}

header h2 {
  margin-bottom: 2rem;
}

header .wrapper {
  position: relative;
  overflow: hidden;
}

header .wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #cfcfcf;

  width: 100%;
  height: 100%;
  z-index: -1;

  transform: rotate(100deg);
  border-radius: 10rem;
}

/* SECTION ONE */

#register .wrapper {
  display: grid;
  gap: 1rem;
}

#register button {
  width: 20rem;
  font-size: 1.8rem;
  margin: auto;
  padding: 1rem;
  border-radius: 0.8rem;
  border: none;
}

#register button:nth-child(2) {
  background-color: #0984e3;
  color: white;
}

#register button:nth-child(2) a {
  color: red;
  text-decoration: none;
}

.resize {
  display: none;
}

@media (min-width: 451px) {
  .web {
    display: none;
  }

  .resize {
    display: block;
    font-size: 4rem;
    margin-top: 30rem;
  }
}
