* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smoth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #353535;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid #727171;
  cursor: pointer;
}
.wrapper {
  max-width: 60rem;
  margin: auto;
}

#one {
  position: relative;
}

.list {
  width: 100%;
  background: white;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.list.show {
  display: block;
  visibility: visible;
  opacity: 1;
}

.list img {
  display: block;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  max-width: 100%;
  margin: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0d0d0d;
  visibility: hidden;
  opacity: 0;
}

.modal button {
  position: relative;
  z-index: 10;
}

.modal img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
