* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

:root {
  font-size: 62.5%;

  /* COLORS */
  --txt: #1f87c3;
  --bg: #096396;
  --very-dark: #124c6e;
  --black: #0d0d0d;
  --white: #f2ede4;
}

body {
  color: var(--txt);
  font-size: 1.6rem;
  text-align: center;
}

/* RESET */

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* GRID */
.grid {
  display: grid;
}

/* FLEX */
.flex {
  display: flex;
}

/* GAP */

.gap-01r {
  gap: 1rem;
}

.gap-02r {
  gap: 2rem;
}

/* LAYOUT */

.wrapper {
  max-width: 30rem;
  margin: auto;
}

/* HEADER */

header {
  margin-top: 2rem;
}

header .img {
  overflow: hidden;
  max-width: 12rem;
  margin: auto;
  border-radius: 50%;
  padding: 0.3rem;
  background-image: linear-gradient(to right, var(--txt), var(--very-dark));
}
header img {
  display: block;
  border-radius: 50%;
}

/* details */

.details {
  margin-block: 2rem;
}

.details li {
  padding: 0.5rem;
  border-radius: 0.8rem;
  border: 1px solid white;
}

.details li:hover {
  border: 1px solid rgb(224, 224, 224);
}

/* LINKS */

nav {
  width: 100vw;

  position: fixed;
  left: 0;
  bottom: -20rem;
  transition: 0.2s;
}

nav .close-menu {
  position: absolute;
  top: -3.9rem;
  left: 1rem;
  z-index: -1;
  width: 5rem;
  height: 5rem;
  background-image: linear-gradient(to bottom, var(--txt), var(--bg));
  display: grid;
  place-content: center;
  border-top: 1px solid var(--very-dark);
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  transition: 0.2s;
}

nav.show .close-menu {
  opacity: 0;
}

nav.show {
  bottom: 0;
}

nav .wrapper {
  max-width: 100%;
  background-color: var(--bg);
  padding: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.links li a {
  align-items: center;
}

.links li a svg path {
  stroke: var(--white);
}

.links li span {
  font-size: 1.8rem;
  color: var(--white);
}

@media (min-width: 501px) {
  nav {
    max-width: 35rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
