* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT */
:root {
  --head-bg-color: #e74c3c;
  --header-strong-bg: #272727;
  --header-btn: #2980b9;
  --text-color: #0d0d0d;
  --txt-light: #f2ede4;
  --btn-bg-color: #16a085;
  --btn-border: #cfcfcf;
  --box-shadow: #cfcfcf;
  --btn-ammount: #c0392b;
  --nav-bg-color: #0d0d0d;

  --font-source: 'Source Sans Pro';
  --font-amatic: 'Amatic SC';
}

body.dark {
  --head-bg-color: #111111;
  --header-strong-bg: #0c0c0c;
  --header-btn: #474f55;
  --text-color: #f2ede4;
  --btn-bg-color: #02362c;
  --btn-border: #272626;
  --box-shadow: #131313;
  --btn-ammount: #c0392b;
  --nav-bg-color: #1d1d1d;
}

body.dark {
  background: #0d0d0d;
  color: #f2ede4;
}

html,
body {
  width: 100%;
}

body {
  font-family: var(--font-source);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.wrapper {
  max-width: 1080px;
  margin: auto;
}

button {
  background-color: var(--btn-bg-color);
  color: var(--text-color);
  padding: 10px;
  border: 1px solid var(--btn-border);
  border-radius: 5px;
  cursor: pointer;
}

/* HEADER */

header {
  background-color: var(--head-bg-color);
  color: var(--text-color);
}

header h1 {
  font-family: var(--font-amatic);
  font-size: 50px;
  text-align: center;
}

header nav {
  background-color: var(--nav-bg-color);
  padding: 12px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

header nav strong:nth-child(1) {
  display: inline-block;
  background: var(--header-strong-bg);
  color: var(--txt-light);
  padding: 10px;
  border-radius: 8px;
}

header nav button {
  border: none;
  background-color: var(--header-btn);
  color: var(--txt-light);
}

.offer-phrase {
  color: var(--txt-light);
}

/* BOOKS */

.books {
  padding-block: 20px;
  display: grid;
  gap: 30px;
}

#books img {
  width: 120px;
  /* max-width: 120px; */
  height: 172px;
  margin: auto;
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.books-list li {
  background-color: var(--bg-light);
  display: grid;
  gap: 10px;

  padding: 10px;

  border-radius: 8px;

  box-shadow: 3px 5px 20px var(--box-shadow);
}

.books-list li strong {
  max-width: 120px;
  max-height: 50px;
  overflow: hidden;
}

.buttons-ammount {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons-ammount button {
  padding: 0;
  padding: 5px 10px;
  font-size: 20px;

  background: var(--btn-ammount);
}

/* DARK MODE */
.mode {
  width: 40px;
  height: 20px;
  background: var(--text-color);
  border-radius: 20px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
}
.mode::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--box-shadow);
  transition: 0.2s;
}

body.dark .mode::before {
  left: 21px;
}
