* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --poppins: 'Poppins', sans-serif;
  --merienda: 'Merienda One', sans-serif;
  --font: 'Inter Tight', sans-serif;

  /* colors */
  --main: #0d0d0d;
  --main-light: #fff;
  --alt-dark: #403e4b;
  --alt-light: #d9d4cc;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
  background: var(--main-light);
  background-image: url('https://images.unsplash.com/photo-1672079743723-ac70610b6978?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

a {
  text-decoration: none;
}

i {
  font-size: 3rem;
  background: white;
  color: black;
  border-radius: 100%;
  padding: 0.3rem;
}

nav {
  color: white;
}

.nav {
  position: relative;
}

.show-menu {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}

.menu {
  list-style: none;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  padding-left: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  transition: left 0.3s;
}

nav.show .menu {
  left: 0;
}

.menu a {
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

p {
  background: rgb(24, 24, 24);
  border-radius: 0.4rem;
  border: 1px solid #a9eff1;
  max-width: 40rem;
  padding: 3rem;
  margin-bottom: 5rem;
  margin-top: 8rem;
  margin-left: 3rem;
}

.any-link {
  max-width: 15rem;
  margin-left: 3rem;
  padding: 1.5rem;
  background: #202020;
  border: 1px solid #222a2b;
  border-radius: 0.4rem;
  color: white;
  font-weight: bold;
  display: block;
}

.any-link:hover {
  background: black;
}

@media (min-width: 800px) {
  nav {
    background: none;
    height: auto;

    padding-block: 2rem;
  }

  .show-menu {
    display: none;
  }

  .menu {
    list-style: none;
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    background: none;
    padding-left: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
    transition: left 0.3s;
  }

  p {
    margin-left: 3rem;
  }

  .any-link {
    margin-left: 3rem;
  }
}
