* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --poppins: 'Poppins', sans-serif;
  --merienda: 'Merienda One', sans-serif;
  --font: 'Inter Tight', sans-serif;

  /* colors */
  --main: #0d0d0d;
  --main-light: #fff;
  --alt-dark: #403e4b;
  --alt-light: #d9d4cc;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
  background: var(--main-light);
}

i {
  font-size: 3rem;
  background: white;
  color: black;
  border-radius: 100%;
  padding: 0.3rem;
}

nav {
  color: white;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1672076292491-28ef139f5e5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60');
  background-size: 100% 100%;
}

.nav {
  position: relative;
}

.show-menu {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}

.menu {
  list-style: none;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  padding-left: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  transition: left 0.3s;
}

nav.show .menu {
  left: 0;
}

.menu a {
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}
