* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-align: center;
}

.wrapper {
  max-width: 102rem;
  margin: auto;
}

/* HEADER */
header {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding-block: 1rem;
  transition: border-color 0.1s;
}

form:hover {
  border-color: rgb(134, 134, 134);
}

label {
  width: 19rem;
  margin-bottom: 1rem;
}

input {
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

input:focus {
  border: 1px solid red;
}

button {
  padding: 0.5rem;
  background: #0d0d0d;
  color: #f2ede4;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
