* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

:root {
  font-size: 62.5%;

  /* COLORS */
  --black: #0d0d0d;
  --white: #f2ede4;
}

body {
  font-size: 1.6rem;
  background: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80')
    no-repeat;
}

/* RESET */

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* GRID */
.grid {
  display: grid;
}

/* FLEX */
.flex {
  display: flex;
}

/* GAP */

.gap-01r {
  gap: 1rem;
}

.gap-02r {
  gap: 2rem;
}

.gap-03r {
  gap: 3rem;
}

/* LAYOUT */

.wrapper {
  width: 60rem;
  max-width: 60rem;
  margin: auto;
  padding-top: 6rem;
}

/* MAIN */

main {
  background-color: white;
  padding-inline: 1rem;
  padding-bottom: 2rem;
}

main h2 {
  margin-bottom: 1rem;
}

main ul {
  flex-wrap: wrap;
}

main ul a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #0d0d0d;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.8rem;
}

/* H4 */
main h4 {
  text-align: center;
  color: rgba(26, 23, 23, 0.38);
}

/* FORM */

main form input {
  height: 4rem;
  padding-inline: 1rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(26, 23, 23, 0.38);
  font-size: 1.8rem;
}

.acc-create {
  background-color: #279574;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-radius: 0.8rem;
  cursor: pointer;
}

.form p a {
  color: rgba(26, 23, 23, 0.38);
}
.form p span {
  color: #279574;
  font-weight: bold;
}

/* MEDIA QUERY */
@media (min-width: 436px) {
}
